@import "variables.scss";
@import "mixins.scss";
@import "reset.scss";

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	position: relative;
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 15px;
}

.header__burger {
	display: none;
}

.header__list {
	text-transform: uppercase;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-evenly;
	li {
		display: inline;
		@include ffl(400, 14px, 22px);
		a {
			color: $main-color;
		}
		.link--home {
			color: #57A4A4;
		}
	}
}

.header__image {
	margin-bottom: 70px;
	max-width: 100%;
}

.active-menu {
	display: block !important;
}

.header__burger.active-burger:before {
	transform: rotate(45deg);
	top: 18px;
	width: 20px;

}

.header__burger.active-burger:after {
	transform: rotate(-45deg);
	bottom: 16.5px;
	left: 12px;
	width: 20px;
}

.header__burger.active-burger span {
	transform: scale(0);
}

.item__content {
	padding-left: 20px;
	.item__content--top {
		@include ffl(600, 16px, 30px);
		color: $main-color;
	}
	.item__content--mid {
		@include ffl(400, 12px, 20px);
		color: $comment-color;
		padding-bottom: 10px
	}
	.item__content--bot {
		@include ffl(400, 14px, 26px);
		color: $description-color;
	}
}

.main__item--image {
	max-width: 100%;
	max-height: 100%;
}


.main__title {
	@include ffl(600, 16px, 22px);
	margin-bottom: 30px;
	text-transform: uppercase;
}

.main__body--upper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 40px;
}

.main__item {
	display: flex;
}

.bottom__text {
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	:nth-child(2) {
		font-size: 13px;
	}
}

.bottom__photos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	max-width: 100%;
	gap: 10px;
	img {
		max-width: 100%;
		min-height: 100%;
	}
}

.main__body--bottom {
	margin-bottom: 35px;
	margin-top: 35px;
	padding-top: 35px;
}

.main__body1 {
	background-color: rgba(0, 0, 0, 0.03);
}

footer {
	padding-top: 70px;
	background-color: black;
	.footer__title {
		@include ffl(600, 16px, 22px);
		@include ctt($wt, center, uppercase);
		padding-bottom: 20px;
	}

	.footer__text {
		@include ffl(400, 14px, 28px);
		@include ctt(rgba(185, 185, 185, 1), center, none);
		padding-bottom: 40px;
		a{
			color: #B9B9B9;
		}
	}
}

.footer__images {
	text-align: center;
	padding-bottom: 35px;
}
@media (max-width : 1199px) {
	.container {
		max-width: 950px;
	}
}
@media (max-width : 900px) {
	.container {
		max-width: 769px;
	}

	.main__body--upper {
		grid-template-columns: 1fr;
	}

	.bottom__photos {
		grid-template-columns: 1fr 1fr 1fr;

		:nth-child(4) {
			display: none;
		}
	}

}
@media (max-width : 767px) {
	.container {
		max-width: 540px;
	}

	.header__burger {
		display: block;
		position: absolute;
		top: 37px;
		width: 44px;
		height: 37px;
		background-color: black;
		right: 15px;
		z-index: 2;
	}

	.header__burger:before,
	.header__burger:after {
		content: "";
		background-color: $wt;
		position: absolute;
		width: 50%;
		height: 2px;
		left: 11px;
		transition: $tr;
	}

	.header__burger span {
		position: absolute;
		background-color: $wt;
		left: 11px;
		width: 50%;
		height: 2px;
		top: 18px;
		transition: $tr;
	}

	.header__burger:before {
		top: 13px;
	}

	.header__burger:after {
		bottom: 12px;
	}

	.header__menu {
		display: none;
		position: absolute;
		top: 74px;
		right: 15px;
		width: 40%;
		height: 230px;
		background-color: rgba(245, 245, 245, 1);
	}

	.header__body {
		padding-top: 80px;
	}

	.header__list {
		display: block;
		height: 100%;
		margin-top: 0;
		margin-bottom: 0;

		li {
			display: block;
			padding: 8px 0 8px 10px;
		}

		li:hover {
			background-color:
				rgba(229, 229, 229, 1);
		}
	}
}
@media (max-width : 480px) {

	body {
		min-width: 320px;
	}
	.container {
		max-width: 320px;
	}
	.footer__text span {
		display: none;
	}
	.bottom__text {
		:nth-child(2) {
			display: none;
		}
	}
	.bottom__photos {
		grid-template-columns: 1fr;
		gap: 0;
		:nth-child(1) {
			display: block;			
		}	
		

		img {
			display: none;
		}


	}


	.main__item {
		display: block;

		.item__content {
			padding-top: 10px;
			padding-left: 0;

			.item__content--bot {
				display: none;
			}
		}
	}

	.main__body1 {
		background-color: $wt;
	}
}
